/*
 * =========================================================
 * Grand Menu Service – Main Colour Scheme CSS
 * =========================================================
 */

/* ------------------ Background Colors ------------------ */

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

html,
body {
    height: 100%;
    -webkit-font-smoothing: none;
}

:root {
    font-family: 'Lexend', sans-serif;
    word-spacing: normal; 
    letter-spacing: 0.02em;
    font-weight: bold;
}

a {
    color: inherit;
}

.gms-primary-bg {
    background-color: #37488d;
}

.gms-dark-bg {
    background-color: #7683cc;
}

.gms-content-bg {
    background-color: #e7f3ff;
}

/* ------------------ Letter Boxes and keys ------------------ */

/* Just in case */
.ns-text-white {
    color: #ffffff;
}

.ns-key {
    border-width: 2px !important;
    border-style: solid;
}

.ns-key:active {
    background-color: #cbd5e1;
    transform: scale(0.95);
}

.ns-disabled-letter {
    background-image: 
        linear-gradient(45deg, transparent 45%, #f36262 45%, #f36262 55%, transparent 55%),
        linear-gradient(-45deg, transparent 45%, #f36262 45%, #f36262 55%, transparent 55%);
    
    background-color: #ffffff;
    border: 2px solid #f36262;
    color: #000000;
}

.ns-existing-letter {
    background-color: #f5e174;
    border-color: #1b1c70;
    color: #1b1c70;
}

.ns-matched-letter {
    background-color: #9ef051;
    border-color: #1b1c70;
    color: #1b1c70;
}

.ns-novo-letter {
    background-color: #51ddf0;
    border-color: #1b1c70;
    color: #1b1c70;
}

.ns-novo-correct-letter {
    background-color: #1b1c70;
    border-color: #51ddf0;
    color: #51ddf0;
}

.ns-tile-input {
    border-width: 4px;
    border-style: solid !important;
}



/* ------------------ Text Colors ------------------ */
.gms-light-text {
    color: #ffffff;
}

.gms-dark-text {
    color: #121036;
}

.gms-menu-text {
    color: #121036;
}

.gms-menu-text:hover {
    color: #ffffff;
}

.gms-main-text {
    color: #1b1c70;
}

.gms-title-text {
    color: #030408;
}

.gms-accent-text {
    color: #030408;
}

/* ------------------ Hover Backgrounds ------------------ */
.gms-hover-bg-light:hover {
    background-color: #030408;
    border-color: #e7f3ff;
}

.ns-hover-bg-dark:hover {
    background-color: #030408;
    border-color: #e7f3ff;
}

/* ------------------ Borders ------------------ */
.gms-border-dark {
    border-color: #030408;
}

.gms-border-medium {
    border-color: #030408;
}

/* ------------------ Keyframes ------------------ */

@keyframes denyshake {

    0%,
    100% {
        transform: translateX(0);
    }

    15% {
        transform: translateX(-6px);
    }

    30% {
        transform: translateX(6px);
    }

    45% {
        transform: translateX(-4px);
    }

    60% {
        transform: translateX(4px);
    }

    75% {
        transform: translateX(-2px);
    }

    90% {
        transform: translateX(2px);
    }
}

/* ------------------ Animations ------------------ */

.ns-animate-shake {
    animation: denyshake 0.5s cubic-bezier(.36, .07, .19, .97) both;
}
